arch==5.3.1
Backtesting==0.3.3
beautifulsoup4==4.11.2
certifi==2022.12.7
colorama==0.4.5
cvxpy==1.3.0
distfit==1.6.9
financedatabase==1.0.2
fitter==1.5.2
fredapi==0.5.0
fundamentalanalysis==0.2.14
geopy==2.3.0
getFamaFrenchFactors==0.0.5
investpy==1.0.8
lxml==4.9.2
matplotlib==3.5.2
numpy==1.22.4
numpy_financial==1.0.0
pandas==2.0.1
pandas_datareader==0.10.0
plotly==5.14.1
pmdarima==2.0.2
PyMySQL==1.0.2
pyodbc==4.0.34
Requests==2.31.0
requests_html==0.10.0
scikit_learn==1.0.2
scipy==1.9.1
seaborn==0.11.2
sec_api==1.0.16
sec_edgar_downloader==4.3.0
selenium==3.141.0
SQLAlchemy==1.4.39
SQLAlchemy_Utils==0.41.0
statsmodels==0.13.2
ta==0.10.2
tensorflow==2.11.0
tensorflow_intel==2.11.0
torch==2.0.0
tqdm==4.64.1
tqdm==4.65.0
world_trade_data==0.1.1
yahoo_fin==0.8.9.1
yahoofinancials==1.14
yfinance==0.2.18
scipy==1.9.1
